.fade-in-on-load-content {
  opacity: 0;
  animation: fadeInContent 1s ease-in-out forwards;
}
@media (max-width: 479px) {
  .client-details-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }
  .client-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .thumbnail {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .client-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1330px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 100%;
    height: 250px;
    margin-right: 2rem;
    margin-top: 2rem;
    flex-shrink: 0;
  }
  .client-text-card {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .link-see-more {
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
  }
  .link-see-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .dy-wrap {
    flex-wrap: wrap;
  }
  .dy-pl-5 {
    padding-left: 2rem;
  }
}

@media (min-width: 480px) {
  .client-details-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .client-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .thumbnail {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .client-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1330px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 100%;
    height: 400px;
    margin-right: 2rem;
    flex-shrink: 0;
  }
  .client-text-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    // padding: 0 1rem 0 1rem;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .link-see-more {
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
  }
  .link-see-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .dy-wrap {
    flex-wrap: wrap;
  }
  .dy-pl-5 {
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .client-details-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .client-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .thumbnail {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }
  .client-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1330px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 100%;
    height: 600px;
    margin-right: 2rem;
    flex-shrink: 0;
  }
  .client-text-card {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    // padding-top: 1rem;
    padding: 0 1rem 0 1rem;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .link-see-more {
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
  }
  .link-see-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .dy-wrap {
    flex-wrap: wrap;
  }
  .dy-pl-5 {
    padding-left: 2rem;
  }
}
@media (min-width: 912px) {
  .dy-wrap {
    flex-wrap: nowrap;
  }
  .dy-pl-5 {
    padding-left: 2rem;
  }
  .client-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // max-width: 1330px;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 400px;
    height: 300px;
    margin-right: 2rem;
    flex-shrink: 0;
  }
}
@media (min-width: 1024px) {
  .dy-wrap {
    flex-wrap: nowrap;
  }
  .dy-pl-5 {
    padding-left: 5rem;
  }
  .client-details-container {
    width: 100%;
    padding: 4rem;
  }
  .thumbnail {
    width: 100vw;
    height: 50vh;
    padding: 4rem;
  }
  .client-container {
    width: 1330px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0rem;
  }
  .client-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // max-width: 1330px;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 280px;
    height: 200px;
    margin-right: 2rem;
    flex-shrink: 0;
  }
  .client-text-card {
    width: 75%;
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;
  }
  .link-see-more {
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
  }
  .link-see-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
}
@media (min-width: 1440px) {
  .client-details-container {
    width: 1330px;
    padding: 4rem;
  }
  .thumbnail {
    width: 100vw;
    aspect-ratio: 2.76 / 1;
    padding: 5rem;
  }
  .client-container {
    width: 1330px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .client-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1330px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .client-image-card {
    width: 400px;
    height: 300px;
    margin-right: 2rem;
    flex-shrink: 0;
  }
  .client-text-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;
  }
  .link-see-more {
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-top: 1rem;
    border: 1px solid white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  .link-see-more:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
