.text-center {
  text-align: center;
}

.bordered {
  &-large {
    border-radius: 50px;
  }
  &-medium {
    border-radius: 20px;
  }
  &-small {
    border-radius: 10px;
  }
}

.shade {
  box-shadow: 0px 2px 5px black;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y {
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.user-none {
  user-select: none;
}

.grid {
  display: grid;
}
.gap-25 {
  gap: 25px;
}

.decoration-none{
  text-decoration: none;
}

.border-1{
  border: 1px solid black;
}

.visually-hidden {
  visibility: hidden;
}
.border-none {
  border: none;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
@media (max-width: 479px) {
  .video-frame {
    width: 100%;
    height: 200px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}
@media (min-width: 480px) {
  .video-frame {
    width: 100%;
    height: 400px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}
@media (min-width: 768px) {
  .video-frame {
    width: 100%;
    height: 400px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .video-frame {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 1440px) {
  .video-frame {
    width: 100%;
    height: 780px;
  }
  .figure-size {
    width: 75vw;
    height: 75vh;
  }
}
