.text-center {
  text-align: center;
}

.bordered {
  &-large {
    border-radius: 50px;
  }
  &-medium {
    border-radius: 20px;
  }
  &-small {
    border-radius: 10px;
  }
}

.shade {
  box-shadow: 0px 2px 5px black;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y {
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.user-none {
  user-select: none;
}

.grid {
  display: grid;
}
.gap-25 {
  gap: 25px;
}

.decoration-none {
  text-decoration: none;
}

.border-1 {
  border: 1px solid black;
}

.visually-hidden {
  visibility: hidden;
}
.border-none {
  border: none;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.mobile-size-on {
  display: none;
}
.ham-trans {
  display: none;
  width: 100%;
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  max-height: 300px;
  opacity: 1;
  overflow: hidden;
}
.ham-trans.closed {
  display: none;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .mobile-size-on {
    display: block;
  }
  .ham-trans {
    display: block;
    width: 100%;
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    max-height: 300px;
    opacity: 1;
    overflow: hidden;
  }
  .ham-trans.closed {
    display: block;
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
}
@media (max-width: 768px) {
  .mobile-size-off {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .video-frame {
    width: 100%;
    height: 200px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}
@media (min-width: 480px) {
  .video-frame {
    width: 100%;
    height: 400px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}
@media (min-width: 768px) {
  .video-frame {
    width: 100%;
    height: 400px;
  }
  .figure-size {
    width: 75vw;
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .video-frame {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 1440px) {
  .video-frame {
    width: 100%;
    height: 780px;
  }
  .figure-size {
    width: 75vw;
    height: 75vh;
  }
}
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
